<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
  <a class="navbar-brand" href="#">EPA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/undertaking">UuderTaking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container pt-5">
  <div class="row">
    <div class="col-xl-4">
      <!--begin:: Widgets/ Manfacturing 1-->
      <div class="m-portlet m--bg-primary m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Manfacturing
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Widget 7-->
          <div class="m-widget7 m-widget7--skin-dark">
            <div class="m-widget7__desc">
              Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
            </div>
            <div class="m-widget7__button">
              <a class="m-btn m-btn--pill btn btn-danger"   routerLink="/manufacturing">
                Register
              </a>
            </div>
          </div>
          <!--end::Widget 7-->
        </div>
      </div>
      <!--end:: Widgets/ Manfacturing 1-->
    </div>
    <div class="col-xl-4">
      <!--begin:: Widgets/ Telecommunication Mask 1-->
      <div class="m-portlet m--bg-secondary m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Telecommunication Mask
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Widget 7-->
          <div class="m-widget7 m-widget7--skin-dark">
            <div class="m-widget7__desc">
              Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
            </div>
            <div class="m-widget7__button">
              <a class="m-btn m-btn--pill btn btn-accent"  routerLink="/tele">
                Register
              </a>
            </div>
          </div>
          <!--end::Widget 7-->
        </div>
      </div>
      <!--end:: Widgets/ Telecommunication Mask 1-->
    </div>
    <div class="col-xl-4">
      <!--begin:: Widgets/Infrastracture 2-->
      <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Infrastracture
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Widget 7-->
          <div class="m-widget7 m-widget7--skin-dark">
            <div class="m-widget7__desc">
              Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
            </div>
            <div class="m-widget7__button">
              <a class="m-btn m-btn--pill btn btn-danger"  routerLink="/infrastracture">
                Register
              </a>
            </div>
          </div>
          <!--end::Widget 7-->
        </div>
      </div>
      <!--end:: Widgets/Infrastracture 2-->
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <!--begin:: Widgets/Energy 1-->
      <div class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Energy
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Widget 7-->
          <div class="m-widget7 m-widget7--skin-dark">
            <div class="m-widget7__desc">
              Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
            </div>
            <div class="m-widget7__button">
              <a class="m-btn m-btn--pill btn btn-danger" role="button" href="#">
                Register
              </a>
            </div>
          </div>
          <!--end::Widget 7-->
        </div>
      </div>
      <!--end:: Widgets/Energy 1-->
    </div>
    <div class="col-xl-4">
      <!--begin:: Widgets/AgroChemicals 1-->
      <div class="m-portlet m--bg-default m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Agro Chemicals
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Widget 7-->
          <div class="m-widget7 m-widget7--skin-dark">
            <div class="m-widget7__desc">
              Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
            </div>
            <div class="m-widget7__button">
              <a class="m-btn m-btn--pill btn btn-danger" role="button" href="#">
                Register
              </a>
            </div>
          </div>
          <!--end::Widget 7-->
        </div>
      </div>
      <!--end:: Widgets/Agro Chemicals 1-->
    </div>
    <div class="col-xl-4">
      <!--begin:: Widgets/Mining 2-->
      <div class="m-portlet m--bg-danger m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Mining
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Widget 7-->
          <div class="m-widget7 m-widget7--skin-dark">
            <div class="m-widget7__desc">
              Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
            </div>
            <div class="m-widget7__button">
              <a class="m-btn m-btn--pill btn btn-accent" role="button" href="#">
                Register
              </a>
            </div>
          </div>
          <!--end::Widget 7-->
        </div>
      </div>
      <!--end:: Widgets/MIning 2-->
    </div>
  </div>
  <div class="row">
      <div class="col-xl-4">
      </div>
      <div class="col-xl-4">
        <!--begin:: Widgets/Aqua Culture 1-->
        <div class="m-portlet m--bg-primary m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height ">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Aqua Culture
                </h3>
              </div>
            </div>
            <div class="m-portlet__head-tools">
            </div>
          </div>
          <div class="m-portlet__body">
            <!--begin::Widget 7-->
            <div class="m-widget7 m-widget7--skin-dark">
              <div class="m-widget7__desc">
                Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
              </div>
              <div class="m-widget7__button">
                <a class="m-btn m-btn--pill btn btn-danger" routerLink="/aqua">
                  Register
                </a>
              </div>
            </div>
            <!--end::Widget 7-->
          </div>
        </div>
        <!--end:: Widgets/Aqua Culture 1-->
      </div>
      <div class="col-xl-4">
      </div>
    </div>
</div>