.m-portlet.m-portlet--bordered-semi .m-portlet__body{
  padding-top: 0rem;
}

.m-widget7 .m-widget7__desc {
  margin-top: 0rem;
}

.m-widget7 .m-widget7__user {
  margin: 0 auto;
  display: table;
  margin-top: 0rem; 
  margin-bottom: 0rem;
}

.m-widget7 .m-widget7__button {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}